<div class="jeans-section">
	<div class="jeans-section__wrapper">
		<div class="jeans__description">
			<span class="jeans__slogan">
				Легкость и удобство ваших движений!
			</span>
			<span class="jeans__text">
				Будьте красивы с популярными предметами гардероба, которые должны быть у каждой женщины!
				Насыщенный синий и классический черный цвет джинсов и леггинсов всегда в моде. На любой выход и к любому случаю подберите еффектный предмет гардероба. Современные джинсы и удобные лосины - это сочетание комфорта и стройности!
			</span>
		</div>
		<div class="jeans__filter-container">
			<select class="jeans__filter">
			 	<option disabled selected class="jeans__filter-name hidden">Размер</option>
				<option class="jeans__filter-option" value="s">s</option>
				<option class="jeans__filter-option" value="m">m</option>
				<option class="jeans__filter-option" value="l">l</option>
				<option class="jeans__filter-option" value="xl">xl</option>
				<option class="jeans__filter-option" value="all">Все</option>
			</select>
			<select class="jeans__filter">
			 	<option disabled selected class="jeans__filter-name hidden">Цвет</option>
				<option class="jeans__filter-option" value="black"></option>
				<option class="jeans__filter-option" value="blue"></option>
				<option class="jeans__filter-option" value="all">Все</option>
			</select>
		</div>
		<div class="product__container">
			<div class="product__element-wrapper">
				<div class="product__element">
					<div class="product__element-top">
						<span class="product__code">08035068</span>
						<a class="product__link-individual-page product__link-individual-page--rating
						product__link" href="#">
							<div class="product__rating">
								<div class="product__rating-star-container">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star.svg">
								</div>
								<span class="product__rating-value">4</span>
							</div>
						</a>
					</div>
					
					<div class="product__concept">
						<a class="product__link-individual-page product__link-individual-page--view product__link" href="#">
							<div class="product__view">
								<img src="../../images/jeans-and-leggings/jeans-1.png" class="product__img">
								<div class="product__indicator product__indicator--green"></div>
								<div class="product__indicator product__indicator--new"> new</div>
							</div>
							<div class="product__description">
								<span class="product__description-text">Lorem ispum dolor sit amet, consectetur adipiscing elit</span>
								<div class="product__price">
									 от <span class="product__price-value">00.00</span>
									<span class="product__price-valute"></span>
								</div>
							</div>
						</a>
						<div class="product__additional-info">
								<span class="product__additional-info-price">
								Вкл. 19% налог, искл.
									<a class="product__link product__link-individual-page--delivery" href="#"><span class="product__additional-info-price--option">
										доставку
									</span></a>
								<span class="product__additional-info-availability"> В наличии через 3-5 рабочих дней</span>
							</div>
						<form class="product__purchase">
							<div class="product__size-button-container">
								<button class="product__size-button value="s">s</button>
								<button class="product__size-button value="m">m</button>
								<button class="product__size-button value="l">l</button>
								<button class="product__size-button value="xl">xl</button>
							</div>

							<input type='hidden'  value = "">

							<button class="product__purchase-button" value="purchase">Добавить в корзину</button>
						</form>
					</div>
				</div>
			</div>
			<div class="product__element-wrapper">
				<div class="product__element">
					<div class="product__element-top">
						<span class="product__code">08035068</span>
						<a class="product__link-individual-page product__link-individual-page--rating
						product__link" href="#">
							<div class="product__rating">
								<div class="product__rating-star-container">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star.svg">
								</div>
								<span class="product__rating-value">4</span>
							</div>
						</a>
					</div>
					
					<div class="product__concept">
						<a class="product__link-individual-page product__link-individual-page--view product__link" href="#">
							<div class="product__view">
								<img src="../../images/jeans-and-leggings/jeans-1.png" class="product__img">
								<div class="product__indicator product__indicator--green"></div>
								<div class="product__indicator product__indicator--new"> new</div>
							</div>
							<div class="product__description">
								<span class="product__description-text">Lorem ispum dolor sit amet, consectetur adipiscing elit</span>
								<div class="product__price">
									 от <span class="product__price-value">00.00</span>
									<span class="product__price-valute"></span>
								</div>
							</div>
						</a>
						<div class="product__additional-info">
								<span class="product__additional-info-price">
								Вкл. 19% налог, искл.
									<a class="product__link product__link-individual-page--delivery" href="#"><span class="product__additional-info-price--option">
										доставку
									</span></a>
								<span class="product__additional-info-availability"> В наличии через 3-5 рабочих дней</span>
							</div>
						<form class="product__purchase">
							<div class="product__size-button-container">
								<button class="product__size-button value="s">s</button>
								<button class="product__size-button value="m">m</button>
								<button class="product__size-button value="l">l</button>
								<button class="product__size-button value="xl">xl</button>
							</div>

							<input type='hidden'  value = "">

							<button class="product__purchase-button" value="purchase">Добавить в корзину</button>
						</form>
					</div>
				</div>
			</div>
			<div class="product__element-wrapper">
				<div class="product__element">
					<div class="product__element-top">
						<span class="product__code">08035068</span>
						<a class="product__link-individual-page product__link-individual-page--rating
						product__link" href="#">
							<div class="product__rating">
								<div class="product__rating-star-container">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star.svg">
								</div>
								<span class="product__rating-value">4</span>
							</div>
						</a>
					</div>
					
					<div class="product__concept">
						<a class="product__link-individual-page product__link-individual-page--view product__link" href="#">
							<div class="product__view">
								<img src="../../images/jeans-and-leggings/jeans-1.png" class="product__img">
								<div class="product__indicator product__indicator--green"></div>
								<div class="product__indicator product__indicator--new"> new</div>
							</div>
							<div class="product__description">
								<span class="product__description-text">Lorem ispum dolor sit amet, consectetur adipiscing elit</span>
								<div class="product__price">
									 от <span class="product__price-value">00.00</span>
									<span class="product__price-valute"></span>
								</div>
							</div>
						</a>
						<div class="product__additional-info">
								<span class="product__additional-info-price">
								Вкл. 19% налог, искл.
									<a class="product__link product__link-individual-page--delivery" href="#"><span class="product__additional-info-price--option">
										доставку
									</span></a>
								<span class="product__additional-info-availability"> В наличии через 3-5 рабочих дней</span>
							</div>
						<form class="product__purchase">
							<div class="product__size-button-container">
								<button class="product__size-button value="s">s</button>
								<button class="product__size-button value="m">m</button>
								<button class="product__size-button value="l">l</button>
								<button class="product__size-button value="xl">xl</button>
							</div>

							<input type='hidden'  value = "">

							<button class="product__purchase-button" value="purchase">Добавить в корзину</button>
						</form>
					</div>
				</div>
			</div>
			<div class="product__element-wrapper">
				<div class="product__element">
					<div class="product__element-top">
						<span class="product__code">08035068</span>
						<a class="product__link-individual-page product__link-individual-page--rating
						product__link" href="#">
							<div class="product__rating">
								<div class="product__rating-star-container">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star.svg">
								</div>
								<span class="product__rating-value">4</span>
							</div>
						</a>
					</div>
					
					<div class="product__concept">
						<a class="product__link-individual-page product__link-individual-page--view product__link" href="#">
							<div class="product__view">
								<img src="../../images/jeans-and-leggings/jeans-1.png" class="product__img">
								<div class="product__indicator product__indicator--green"></div>
								<div class="product__indicator product__indicator--new"> new</div>
							</div>
							<div class="product__description">
								<span class="product__description-text">Lorem ispum dolor sit amet, consectetur adipiscing elit</span>
								<div class="product__price">
									 от <span class="product__price-value">00.00</span>
									<span class="product__price-valute"></span>
								</div>
							</div>
						</a>
						<div class="product__additional-info">
								<span class="product__additional-info-price">
								Вкл. 19% налог, искл.
									<a class="product__link product__link-individual-page--delivery" href="#"><span class="product__additional-info-price--option">
										доставку
									</span></a>
								<span class="product__additional-info-availability"> В наличии через 3-5 рабочих дней</span>
							</div>
						<form class="product__purchase">
							<div class="product__size-button-container">
								<button class="product__size-button value="s">s</button>
								<button class="product__size-button value="m">m</button>
								<button class="product__size-button value="l">l</button>
								<button class="product__size-button value="xl">xl</button>
							</div>

							<input type='hidden'  value = "">

							<button class="product__purchase-button" value="purchase">Добавить в корзину</button>
						</form>
					</div>
				</div>
			</div>
			<div class="product__element-wrapper">
				<div class="product__element">
					<div class="product__element-top">
						<span class="product__code">08035068</span>
						<a class="product__link-individual-page product__link-individual-page--rating
						product__link" href="#">
							<div class="product__rating">
								<div class="product__rating-star-container">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star.svg">
								</div>
								<span class="product__rating-value">4</span>
							</div>
						</a>
					</div>
					
					<div class="product__concept">
						<a class="product__link-individual-page product__link-individual-page--view product__link" href="#">
							<div class="product__view">
								<img src="../../images/jeans-and-leggings/jeans-1.png" class="product__img">
								<div class="product__indicator product__indicator--green"></div>
								<div class="product__indicator product__indicator--new"> new</div>
							</div>
							<div class="product__description">
								<span class="product__description-text">Lorem ispum dolor sit amet, consectetur adipiscing elit</span>
								<div class="product__price">
									 от <span class="product__price-value">00.00</span>
									<span class="product__price-valute"></span>
								</div>
							</div>
						</a>
						<div class="product__additional-info">
								<span class="product__additional-info-price">
								Вкл. 19% налог, искл.
									<a class="product__link product__link-individual-page--delivery" href="#"><span class="product__additional-info-price--option">
										доставку
									</span></a>
								<span class="product__additional-info-availability"> В наличии через 3-5 рабочих дней</span>
							</div>
						<form class="product__purchase">
							<div class="product__size-button-container">
								<button class="product__size-button value="s">s</button>
								<button class="product__size-button value="m">m</button>
								<button class="product__size-button value="l">l</button>
								<button class="product__size-button value="xl">xl</button>
							</div>

							<input type='hidden'  value = "">

							<button class="product__purchase-button" value="purchase">Добавить в корзину</button>
						</form>
					</div>
				</div>
			</div>
			<div class="product__element-wrapper">
				<div class="product__element">
					<div class="product__element-top">
						<span class="product__code">08035068</span>
						<a class="product__link-individual-page product__link-individual-page--rating
						product__link" href="#">
							<div class="product__rating">
								<div class="product__rating-star-container">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star.svg">
								</div>
								<span class="product__rating-value">4</span>
							</div>
						</a>
					</div>
					
					<div class="product__concept">
						<a class="product__link-individual-page product__link-individual-page--view product__link" href="#">
							<div class="product__view">
								<img src="../../images/jeans-and-leggings/jeans-1.png" class="product__img">
								<div class="product__indicator product__indicator--green"></div>
								<div class="product__indicator product__indicator--new"> new</div>
							</div>
							<div class="product__description">
								<span class="product__description-text">Lorem ispum dolor sit amet, consectetur adipiscing elit</span>
								<div class="product__price">
									 от <span class="product__price-value">00.00</span>
									<span class="product__price-valute"></span>
								</div>
							</div>
						</a>
						<div class="product__additional-info">
								<span class="product__additional-info-price">
								Вкл. 19% налог, искл.
									<a class="product__link product__link-individual-page--delivery" href="#"><span class="product__additional-info-price--option">
										доставку
									</span></a>
								<span class="product__additional-info-availability"> В наличии через 3-5 рабочих дней</span>
							</div>
						<form class="product__purchase">
							<div class="product__size-button-container">
								<button class="product__size-button value="s">s</button>
								<button class="product__size-button value="m">m</button>
								<button class="product__size-button value="l">l</button>
								<button class="product__size-button value="xl">xl</button>
							</div>

							<input type='hidden'  value = "">

							<button class="product__purchase-button" value="purchase">Добавить в корзину</button>
						</form>
					</div>
				</div>
			</div>
	</div>
</div>