<div class="page-section jeans-section">
	<div class="jeans-section__wrapper">
		<div class="jeans__description">
			<span class="jeans__slogan">
				Легкость и удобство ваших движений!
			</span>
			<span class="jeans__text">
				Будьте красивы с популярными предметами гардероба, которые должны быть у каждой женщины!
				Насыщенный синий и классический черный цвет джинсов и леггинсов всегда в моде. На любой выход и к любому случаю подберите еффектный предмет гардероба. Современные джинсы и удобные лосины - это сочетание комфорта и стройности!
			</span>
		</div>
		<div class="jeans__filter-container">
			<select class="jeans__filter">
			 	<option disabled selected class="jeans__filter-name hidden">Размер</option>
				<option class="jeans__filter-option" value="s">S</option>
				<option class="jeans__filter-option" value="m">M</option>
				<option class="jeans__filter-option" value="l">L</option>
				<option class="jeans__filter-option" value="xl">XL</option>
				<option class="jeans__filter-option" value="all">All</option>
			</select>
			<select class="jeans__filter">
			 	<option disabled selected class="jeans__filter-name hidden">Цвет</option>
				<option class="jeans__filter-option" value="black">Black</option>
				<option class="jeans__filter-option" value="blue">Blue</option>
				<option class="jeans__filter-option" value="all">All</option>
			</select>
		</div>
		<div class="product__container product__container--jeans">
		</div>
	</div>
</div>