<div class="panty-section">
	<div class="panty-section__wrapper">
		<div class="panty__description">
			<span class="panty__slogan">
				Будьте грациозны в элегантных колготках от бренда Conte!
			</span>
			<span class="panty__text">
				Создайте яркий образ и подчеркните свою индивидуальность! На нашем сайте представлен широкий ассортимент капроновых женских колготок разных размероа и оттенков А также найдете детскин колготы, на любой вкус, ситуацию и настроение вы можете купить прочные колготки известного бренда, и быть уверенными в качестве приобретенной продукции. 
		</div>
		<div class="panty__filter-container">
			<select class="panty__filter">
			 	<option disabled selected class="panty__filter-name">Цвет</option>
				<option class="panty__filter-option" value="black"></option>
				<option class="panty__filter-option" value="blue"></option>
			</select>
			<select class="panty__filter">
			 	<option disabled selected class="panty__filter-name">Размер</option>
				<option class="panty__filter-option" value="2">2</option>
				<option class="panty__filter-option" value="3">3</option>
				<option class="panty__filter-option" value="4">4</option>
			</select>
			<select class="panty__filter">
			 	<option disabled selected class="panty__filter-name">Плотность </option>
				<option class="panty__filter-option" value="20">20</option>
				<option class="panty__filter-option" value="40">40</option>
				<option class="panty__filter-option" value="80">80</option>
				<option class="panty__filter-option" value="100">100</option>
			</select>

			<select class="panty__filter">
			 	<option disabled selected class="panty__filter-name">Серия </option>
				<option class="panty__filter-option" value="solo">solo</option>
				<option class="panty__filter-option" value="elegant">elegant</option>
				<option class="panty__filter-option" value="prestige">prestige</option>
				<option class="panty__filter-option" value="bikini">bikini</option>
			</select>
		</div>
		<div class="product__container">
			<div class="product__element">
				<div class="product__element-top">
					<span class="product__code"></span>
					<div class="product__rating">
						<span class="product__rating-value"></span>
					</div>
				</div>
				<div class="product__concept">
					<div class="product__view">
						<img src="../../images/panty-hoses/panty-1.png" class="product__img"></div>
						<div class="product__indicator product__indicator--green"></div>
						<div class="product__indicator product__indicator--new"></div>
					</div>
					<div class="product__description">
						<span class="product__description-text">Lorem ispum dolor sit amet, consectetur adipiscing elit</span>
						<div class="product__price">
							 от <span class="product__price-value">00.00</span>
							<span class="product__price-valute"></span>
						</div>
						<div class="product__additional-info">
							<span class="product__additional-info-price">
								<span class="product__additional-info-price--option">
							</span>
							<span class="product__additional-info-availability"></span>
						</div>
					</div>
					<div class="product__purchase">
						<div class="product__size-button-container">
							<button class="product__size-button value="s">s</button>
							<button class="product__size-button value="m">m</button>
							<button class="product__size-button value="l">l</button>
							<button class="product__size-button value="xl">xl</button>
						</div>

						<button class="product__purchase-button" value="purchase">Добавить в корзину</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>