<div class="panty-section">
	<div class="panty-section__wrapper">
		<div class="panty__description">
			<span class="panty__slogan">
				Будьте грациозны в элегантных колготках от бренда Conte!
			</span>
			<span class="panty__text">
				Создайте яркий образ и подчеркните свою индивидуальность! На нашем сайте представлен широкий ассортимент капроновых женских колготок разных размероа и оттенков А также найдете детскин колготы, на любой вкус, ситуацию и настроение вы можете купить прочные колготки известного бренда, и быть уверенными в качестве приобретенной продукции. 
		</div>
		<div class="panty__filter-container">
			<select class="panty__filter">
			 	<option disabled selected class="panty__filter-name">Цвет</option>
				<option class="panty__filter-option" value="black"></option>
				<option class="panty__filter-option" value="blue"></option>
			</select>
			<select class="panty__filter">
			 	<option disabled selected class="panty__filter-name">Размер</option>
				<option class="panty__filter-option" value="2">2</option>
				<option class="panty__filter-option" value="3">3</option>
				<option class="panty__filter-option" value="4">4</option>
			</select>
			<select class="panty__filter">
			 	<option disabled selected class="panty__filter-name">Плотность </option>
				<option class="panty__filter-option" value="20">20</option>
				<option class="panty__filter-option" value="40">40</option>
				<option class="panty__filter-option" value="80">80</option>
				<option class="panty__filter-option" value="100">100</option>
			</select>

			<select class="panty__filter">
			 	<option disabled selected class="panty__filter-name">Серия </option>
				<option class="panty__filter-option" value="solo">solo</option>
				<option class="panty__filter-option" value="elegant">elegant</option>
				<option class="panty__filter-option" value="prestige">prestige</option>
				<option class="panty__filter-option" value="bikini">bikini</option>
			</select>
		</div>
		<div class="product__container">
			<div class="product__element-wrapper">
				<div class="product__element">
					<div class="product__element-top">
						<span class="product__code">08035068</span>
						<a class="product__link-individual-page product__link-individual-page--rating
						product__link" href="#">
							<div class="product__rating">
								<div class="product__rating-star-container">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star--voted.svg">
									<img class="product__rating-star" src= "../../images/common/rating-star.svg">
								</div>
								<span class="product__rating-value">4</span>
							</div>
						</a>
					</div>
					
					<div class="product__concept">
						<a class="product__link-individual-page product__link-individual-page--view product__link" href="#">
							<div class="product__view">
								<img src="../../images/panty-hoses/panty-1.png" class="product__img">
								<div class="product__indicator product__indicator--green"></div>
								<div class="product__indicator product__indicator--new"> new</div>
							</div>
							<div class="product__description">
								<span class="product__description-text">Lorem ispum dolor sit amet, consectetur adipiscing elit</span>
								<div class="product__price">
									 от <span class="product__price-value">00.00</span>
									<span class="product__price-valute"></span>
								</div>
							</div>
						</a>
						<div class="product__additional-info">
								<span class="product__additional-info-price">
								Вкл. 19% налог, искл.
									<a class="product__link product__link-individual-page--delivery" href="#"><span class="product__additional-info-price--option">
										доставку
									</span></a>
								<span class="product__additional-info-availability"> В наличии через 3-5 рабочих дней</span>
							</div>
						<form class="product__purchase">
							<div class="product__size-button-container">
								<button class="product__size-button value="s">s</button>
								<button class="product__size-button value="m">m</button>
								<button class="product__size-button value="l">l</button>
								<button class="product__size-button value="xl">xl</button>
							</div>

							<input type='hidden'  value = "">

							<button class="product__purchase-button" value="purchase">Добавить в корзину</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>