<div class="page-section panty-section">
	<div class="panty-section__wrapper">
		<div class="panty__description">
			<span class="panty__slogan">
				Будьте грациозны в элегантных колготках от бренда Conte!
			</span>
			<span class="panty__text">
				Создайте яркий образ и подчеркните свою индивидуальность! На нашем сайте представлен широкий ассортимент капроновых женских колготок разных размероа и оттенков А также найдете детскин колготы, на любой вкус, ситуацию и настроение вы можете купить прочные колготки известного бренда, и быть уверенными в качестве приобретенной продукции. 
		</div>
		<div class="panty__filter-container">
			<select class="panty__filter">
				<option disabled selected class="panty__filter-name" hidden>Цвет</option>
			 	<option class="jeans__filter-option" value="black">Black</option>
				<option class="jeans__filter-option" value="blue">Blue</option>
				<option class="jeans__filter-option" value="all">All</option>
			</select>
			<select class="panty__filter">
			 	<option disabled selected class="panty__filter-name" hidden>Размер</option>
				<option class="panty__filter-option" value="2">2</option>
				<option class="panty__filter-option" value="3">3</option>
				<option class="panty__filter-option" value="4">4</option>
			</select>
			<select class="panty__filter">
			 	<option disabled selected class="panty__filter-name hidden">Плотность </option>
				<option class="panty__filter-option" value="20">20 DEN</option>
				<option class="panty__filter-option" value="40">40 DEN</option>
				<option class="panty__filter-option" value="80">80 DEN</option>
				<option class="panty__filter-option" value="100">100 DEN</option>
			</select>

			<select class="panty__filter">
			 	<option disabled selected class="panty__filter-name hidden">Серия </option>
				<option class="panty__filter-option" value="elegant">Conte Elegant</option>
			</select>
		</div>

		<div class="panty__description">
			<span class="panty__product-name">
				Женские колготки
			</span> 
		</div>
		<div class="product__container product__container--panty-woman">
		</div>

		<div class="panty__description">
			<span class="panty__product-name">
				Детские колготки
			</span> 
			<span class="panty__text">
				Для маленьких модников - теплые разноцветные колготки! Яркие цвета и оригинальный дизайн в виде гольфов с мордочками и ушками понравится вашим деткам.
			</span> 
		</div>
		<div class="product__container product__container--panty-children">
		</div>
	</div>
</div>