<div class="slider">
	<div class="slider__handlers">
		<div class="slider__arrow slider__arrow--left"></div>

		<div class="slider__section-description slider__section-description--jeans">
			<h1 class="slider__section-title slider__section-title">Джинсы <br/>леггинсы</h1>
			<h2 class="slider__section-subtitle">
				найдите идеальный силует!
			</h2>
		</div>

		<div class="slider__section-description slider__section-description--panty hidden">
			<h1 class="slider__section-title slider__section-title--panty">Колготки</h1>
			<h2 class="slider__section-subtitle slider__section-subtitle--panty">
				секрет стройных ножек!
			</h2>
		</div>

		<div class="slider__arrow slider__arrow--right"></div>

		<div class="slider__navigation">
			<label for="jeans" class="slider__navigation-element slider__navigation-element--active">
				<span class="slider__navigation-element-icon
				slider__navigation-element-icon--jeans"></span>
				<span class="slider__navigation-element-name">
					Джинсы / леггинсы
				</span>
			</label>
			<label for="panty" class="slider__navigation-element">
				<span class="slider__navigation-element-icon slider__navigation-element-icon--panty"></span>
				<span class="slider__navigation-element-name">
					Колготы
				</span>
			</label>
			<label for="socks" class="slider__navigation-element
			slider__navigation-element--disabled  disabled">
				<span class="slider__navigation-element-icon slider__navigation-element-icon--socks"></span>
				<span class="slider__navigation-element-name">
					Носки
				</span>
			</label>
			<label for="bra" class="slider__navigation-element
			slider__navigation-element--disabled  disabled">
				<span class="slider__navigation-element-icon slider__navigation-element-icon--underwear"></span>
				<span class="slider__navigation-element-name">
					Нижнее белье
				</span>
			</label>
		</div>
	</div>

	<div class="slider__slide-container">
		<div class="slider__slide slider__slide--jeans"></div>
		<div class="slider__slide slider__slide--panty"></div>
	</div>

</div>